{% extends 'server/master.html' %}
{% block paragraf %}
<h1>Каталог</h1>
{% endblock %}
{% block page_content %}
		<div class="paragraf">
			<h3>Игрушки</h3>
			{% for object in object_list %}
			<div class="toy">
				<div class="photo2">
					<p><a href="/catalog/{{ object.id }}/"><img src="/media/{{ object.image }}" alt="sorry" width="150" heigth="150" hspace="4" vspace="4"></p></a>
				</div>
				<div class="linkproduct2">
					<a href="/catalog/{{ object.id }}/">{{ object.name|title }}</a>
					<br><br>
				</div>
			</div>
			{% endfor %}

		</div>
		<hr>
{% endblock %}
