{% extends 'server/master.html' %}
{% block paragraf %}
<h1>Каталог</h1>
{% endblock %}
{% block page_content %}
		<div class="paragraf">
			<h3>Игрушки</h3>
			<div class="toy">
				<div class="photo1">
					<p><a href="snowflake/"><img src="/static/products/img/decor1.jpg" alt="sorry" width="150" heigth="150" hspace="4" vspace="4"></p></a>
				</div>
				<div class="linkproduct">
					<a href="snowflake/">Стеклянный шар для ёлки "Снежинка"</a>
					<br><br>
				</div>
			</div>
			<div class="toy toy2">
				<div class="photo2">
					<p><a href="star/"><img src="/static/products/img/star.jpg" alt="sorry" width="150" heigth="150" hspace="4" vspace="4"></p></a>
				</div>
				<div class="linkproduct2">
					<a href="star/">Верхушка звезда</a>
					<br><br>
				</div>
			</div>
		</div>
		<hr>
{% endblock %}
