<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CrismasDecoration</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="container">
		<h1>Каталог</h1>
		<div class="header">
			<div class="logohead">
				<p><img src="/static/img/logo.kv9hU.jpeg" alt="logotype"></p>
			</div>
			<div class="divmenu">
				<ul class="menu">
					<li><a href="/">Главная</a></li>
					<li><a href="/catalog/">Каталог</a></li>
					<li><a href="/contacts/">Контакты</a></li>
				</ul>
			</div>
		</div>
		<div class="paragraf">
			<h3>Игрушки</h3>
			<div class="toy">
				<div class="photo1">
					<p><a href="snowflake/"><img src="/static/img/decor1.jpg" alt="sorry" width="150" heigth="150" hspace="4" vspace="4"></p></a>
				</div>
				<div class="linkproduct">
					<a href="snowflake/">Стеклянный шар для ёлки "Снежинка"</a>
					<br><br>
				</div>
			</div>
			<div class="toy toy2">
				<div class="photo2">
					<p><a href="star/"><img src="/static/img/star.jpg" alt="sorry" width="150" heigth="150" hspace="4" vspace="4"></p></a>
				</div>
				<div class="linkproduct2">
					<a href="star/">Верхушка звезда</a>
					<br><br>
				</div>
			</div>
		</div>
		<hr>
		<div class="footer">
			&copy; <i>Все права защищены</i>
		</div>
	</div>
</body>
</html>