<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CrismasDecoration</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="container">
		<h1>Главная</h1>
		<div class="header">
			<div class="logohead">
				<p><img src="/static/img/logo.kv9hU.jpeg" alt="logotype"></p>
			</div>
			<div class="divmenu">
				<ul class="menu">
					<li><a href="/">Главная</a></li>
					<li><a href="/catalog/">Каталог</a></li>
					<li><a href="/contacts/">Контакты</a></li>
				</ul>
			</div>
		</div>
		<div class="paragraf">
			
			<h1>Магазин новогодних украшений "CrismasDecoration"</h1>
			<p style="text-align: center;">Елочные игрушки&nbsp;&mdash; главный атрибут праздника!<br>
				Первое, что необходимо сделать, выбирая новогодние товары&nbsp;&mdash; купить подходящие украшения для &laquo;рождественского дерева&raquo;. Выбор широк: любителям винтажного стиля приглянутся фарфоровые фигурки и&nbsp;стеклянные шары &laquo;родом из&nbsp;детства&raquo;, ценители современного стиля отдадут предпочтение эксклюзивным авторским моделям елочных украшений. В&nbsp;нашем каталоге представлены шарики с&nbsp;рисунком и&nbsp;гладкие, шары с&nbsp;композициями, елочные игрушки&nbsp;&mdash; миниатюры, в&nbsp;виде заснеженных домиков и&nbsp;старинных механических часов, и&nbsp;даже портреты ангелочков в&nbsp;бронзовых рамках. <br>
				Светящиеся фигурки, уютно прикорнувшие на&nbsp;подоконнике или непосредственно под елкой, придадут интерьеру атмосферу таинственности и&nbsp;покажут прохожим, что в&nbsp;этом доме уже готовы встречать Новый Год. <br> Создайте себе новогоднее настроение с&nbsp;нашими игрушками!</p>
			
		</div>
		<hr>
		<div class="footer">
			
			&copy; <i>Все права защищены</i>
		</div>
	</div>
</body>
</html>