{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block content %}
    <form class="form-horizontal" action="{% url 'accounts:edit' %}" method=post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <button class="btn btn-round form-control last">
        <a href="/" class="">
            На главную
        </a>
    </button>
    <div class="user_avatar"><img src="/media/{{ user.avatar }}" alt=""></div>
{% endblock %}