{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block content %}
    <form class="form-horizontal" action="{% url 'accounts:register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ register_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="Зарегистрироваться">
    </form>
    <button class="btn btn-round form-control">
        <a href="{% url 'accounts:register' %}">
            Зарегестрироваться
        </a>
    </button>
{% endblock %}