<div class="divmenu">
    <ul class="menu">
		<li><a href="/">Главная</a></li>
		<li><a href="/catalog/">Каталог</a></li>
		<li><a href="/contacts/">Контакты</a></li>
		{% if user.is_authenticated %}
		<li>
			<a href="{% url 'accounts:edit' %}">
				{{ user.username|default:'User' }}
			</a>
		</li>
		{% endif %}
		<li>
			{% if user.is_authenticated %}
				<a href="{% url 'accounts:logout' %}">Выйти</a>
			{% else %}
				<a href="{% url 'accounts:login' %}">Войти</a>
				<li>
					<a href="{% url 'accounts:register' %}">Регистрация</a>
				</li>
			{% endif %}
		</li>
		<li>
			<a href="/baket/">Корзина
				<span>{% if baket %} {{ baket|length }} {% endif %}</span>
			</a>
		</li>
		{% if user.is_superuser %}
		<li>

			<a href="{% url 'admin_app:show_options' %}">Админка</a>

		</li>
		{% endif %}
	</ul>
</div>
