<div class="divmenu">
    <ul class="menu">
		<li><a href="/">Главная</a></li>
		<li><a href="/catalog/">Каталог</a></li>
		<li><a href="/contacts/">Контакты</a></li>
		{% if user.is_authenticated %}
		<li>
			<a href="{% url 'accounts:edit' %}">
				{{ user.first_name|default:'User' }}
			</a>
		</li>
		{% endif %}
		<li>
			{% if user.is_authenticated %}
				<a href="{% url 'accounts:logout' %}">Выйти</a>
			{% else %}
				<a href="{% url 'accounts:login' %}">Войти</a>
			{% endif %}
		</li>
	</ul>
</div>
