<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CrismasDecoration</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="container">
		<h1>Игрушка</h1>
			<div class="header">
				<div class="logohead">
					<p><img src="/static/img/logo.kv9hU.jpeg" alt="logotype"></p>
				</div>
				<div class="divmenu">
					<ul class="menu">
						<li><a href="/">Главная</a></li>
						<li><a href="/catalog/">Каталог</a></li>
						<li><a href="/contacts/">Контакты</a></li>
					</ul>
				</div>
			</div>

		<h1>Верхушка "Звезда"</h1>
		<div class="fotoproduct">
			<a id="decor" href="/static/img/star1.jpg" target="_blank"><img id="decor" src="/static/img/star1.jpg" alt="sorry" width="200" heigth="200" hspace="4" vspace="4"></a>
		</div>
		<div class="fotoproduct fdesc">
			<p id="description">Это замечательная пятиконечная звезда станет достойным завершением новогоднего убранства вашей праздничной елки. <br>Традиционная рождественская звезда, сияющая ярко алыми искрами с&nbsp;вершины вашей елки, поможет создать в&nbsp;доме или квартире веселую атмосферу наступающих праздников.</p>
		</div>
		<div class="fotoproduct bdesc">
			<form action="#">
				<input type="submit" style="width: 150px; height: 50px; font-size: 18px;" value="Купить" class="bbuy">
			</form>
		</div>
		<div class="productdesc">
			<h3>Техничексие характеристики</h3>
			<table class="desctable">
				<tr>
					<td>Материал</td>
					<td>Высота</td>
					<td>Размер</td>
				</tr>
				<tr>
					<td>Пластик</td>
					<td>до 20</td>
					<td>см</td>
				</tr>
			</table>
			<h3>Характеристики</h3>
			<ul id="all_property">
				<li>Артикул: 001-11</li>
				<li>Страна производитель: Россия</li>
				<li>Упаковка: подарочная картонная коробка</li>
			</ul>
			<h3>Подробное описание товара:</h3>
			<ul id="property_product">
				<li>Вес: 0.09 кг</li>
				<li>Светиться: нет</li>
			</ul>
			<h3>Упаковка:</h3>
			<ul id="package">
				<li>Длина упаковки: 0.28 м</li>
				<li>Ширина упаковки: 0.22 м</li>
				<li>Высота упаковки: 0.04 м</li>
				<li>Объем упаковки: 0.0026 м3</li>
			</ul>
		</div>
		<hr>
		<div class="footer">
			&copy; <i>Все права защищены</i>
		</div>
	</div>
</body>
</html>