{% extends 'server/master.html' %}
{% block paragraf %}
<h1>Контакты</h1>
{% endblock %}
{% block page_content %}
<form action="#" class="act">
	<h1>Ваши пожелания и комментарии:</h1>
		Ваше имя и фамилия:<br>
	<input class="infirst" type="text" placeholder="Ваше имя и фамилия" size="30" style="width: 300px; height: 30px;font-size: 16px; font-style: italic;"><br>
	Ваш Email:<br><input class="insecond" type="text" placeholder="Email" size="30" style="width: 300px; height: 30px;font-size: 16px; font-style: italic;"><br>
	Ваши пожелания:<br><input class="inthrid" type="text" placeholder="Что мы можем сделать лучше?" size=100 style="width: 800px; height: 80px; font-size: 16px; font-style: italic;""><br><br>
	Порекомендуете нас друзьям? <input type="checkbox"><br><br><br>
	<input type="submit" value="Отправить" style="width: 120px; height: 50px;"> <input type="reset" value="Отмена" style="width: 120px; height: 50px;">
	<h3>Как нас найти:</h3>
	<h4>Конакты:</h4>
	<p>Улица Вешняковская, дом 23</p>
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A034130670248905c9a3e7768f393b8a0bb7a36be7da96c812583c437c8ee3a06&amp;source=constructor" width="100%" height="374px" frameborder="0"></iframe>
</form>
<hr>
{% endblock %}